<% provide(:title, 'All users') %>
<main class="container-fluid">
<div class="row">
  <aside class="col-md-4">
    <h1>All users</h1>
    
    <%= will_paginate %>
    
    <ul class="users" style="padding-left: 0;">
      <%= render @users %>
    </ul>
    
    <br />
    
    <%= will_paginate %>

  </aside>
</div>

<br />

</main>
